<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Campo</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<link href="${BaseURL}css/bootstrap.min.css" rel="stylesheet" type="text/css" >
		<link href="${BaseURL}css/global.css" rel="stylesheet" type="text/css" >
		<link href="${BaseURL}css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" >
		<link rel="shortcut icon" href="/ico/favicon.ico">
	</head>

<body>
	<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">Campo</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li #if($GLOBAL.uri.indexOf('article')>-1 || $GLOBAL.uri=='')class="active"#end><a href="/">社区</a></li>
          </ul>
          <ul class="nav pull-right">
          #if($SESSION.user)
          	<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">${SESSION.user.name}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="${BaseURL}user/profile/${SESSION.user.name}">个人资料</a></li>
                <li><a href="${BaseURL}user/setting/password">修改密码</a></li>
                <li><a href="${BaseURL}user/favorite">我的收藏</a></li>
                <li class="divider"></li>
                <li><a href="${BaseURL}user/logout">登出</a></li>
              </ul>
            </li>
          #else
          	<li #if($GLOBAL.uri=='user/signup')class="active"#end><a href="${BaseURL}user/signup">注册</a></li>
          	<li #if($GLOBAL.uri=='user/login')class="active"#end><a href="${BaseURL}user/login">登录</a></li>
          #end
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
