#parse("public/header.html")
	<div class="container">
		<ul class="breadcrumb">
		  <li>
		    <a href="${BaseURL}user/profile/${SESSION.user.name}">${SESSION.user.name}</a> <span class="divider">/</span>
		  </li>
		  <li>我的收藏夹</li>
		</ul>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="span3" id="sidebar">
			#if($SESSION.user)
				#parse("user/userinfo.html")
			#end
				<div class="box">
					<header>收藏统计</header>
					<ul>
						<li>收藏的话题数：$!{articles.size()}</li>
					</ul>
				</div>
			</div>
			
			<div class="span9">
				<div class="box" id="board">
					<div class="header">我的收藏夹</div>
					<ul class="nav nav-tabs">
					  <li class="active"><a href="#blog" data-toggle="tab">话题</a></li>
					</ul>
					<div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="blog">
			<table class="list" width="100%" cellpadding="3">
			#foreach($item in $articles)
				<tr>
					<td><a href="${BaseURL}article/${item.id}" target="_blank">${item.title}</a></td>
				</tr>
			#end
			</table>
            </div>
          </div>
				</div>
			</div>
			
		</div>
  </div>
  
#parse("public/footer.html");
