#parse("public/header.html")
<div id="loading">
	<span class="label label-warning">Processing...</span>
</div>
<div class="container">
	<ul class="breadcrumb">
		<li>
			<a href="${BaseURL}">博客</a><span class="divider">/</span>
		</li>
		<li class="active">
			${article.title}
		</li>
	</ul>
</div>

<div class="container">
	<div class="row">
		<div class="span9" id="board">
			<div class="box" id="content">
				<div id="header">
					<div>
						<span class="title">${article.title}</span>
					</div>
					<a href="${BaseURL}user/profile/${article.user.name}">${article.user.name}</a> 发布于 ${article.displayDate}，
					#if ($SESSION.user.id==$article.user.id)
					<a href="${BaseURL}article/edit/${article.id}">编辑</a>
					#end
					<span class="right">
						#if ($SESSION.user)
							<a class="pointer" id="mark" name="${article.id}">
							#if ($isMark)已收藏 #else 收藏#end
							</a>
						#end
						<span id="collect_total" rel="$!{article.markUsers.size()}">
							#if ($article.markUsers.size()>0) 
								${article.markUsers.size()}人收藏
							#end
						</span>
					</span>
				</div>
				
				$!{article.htmlContent}
				
			</div>
			
			
			<div class="box" id="replies">
				<div class="title">评论</div>
				#if ($article.replies)
				#foreach($item in $article.replies)
				<div id="reply">
					<div class="pull-left face">
						<a href="${BaseURL}user/profile/${item.user.name}"><img class="pic s48" src="http://gravatar.com/avatar/${item.user.gravatar}.png?r=G&amp;s=48" /></a>
					</div>
					<div class="infos">
						<div class="info">
							<span class="author"><a href="${BaseURL}user/profile/${item.user.name}">${item.user.name}</a></span>
							<span class="date">${item.displayAddTime}</span>
						</div>
						
						<div class="body">
						${item.htmlComment}
						</div>
					</div>
				</div>
				#end
				#end
			</div>

			#if($SESSION.user)
			<div class="box">
				<form>
					<input type="hidden" id="bid" value="${article.id}" />
					<input type="hidden" id="owner" value="${article.user.id}" />
					<div>
						<div id="wmd-button-bar"></div>
						<textarea style="width:99%;height:80px;" id="textarea" name="textarea"></textarea>
					</div>
					<div style="text-align:right">
						<span class="error" id="label_error"></span>
						<input class="btn" id="submit" value="回复" type="button" />
					</div>
					<div id="wmd-preview"></div>
					<input id="wmd-html" type="hidden">
				</form>
			</div>
			#end			
		</div>
		
		#if($SESSION.user)
		<div class="span3" id="sidebar">
			#parse("user/userinfo.html")
		</div>
		#end
		
		<script type="text/template" id="t-reply">
			<div id="reply">
				<div class="pull-left face">
					<a href="${BaseURL}/profile/{#replyUserName}"><img class="pic s48" src="http://gravatar.com/avatar/{#replyUserAvatar}.png?r=G&amp;s=48" /></a>
				</div>
				<div class="infos">
					<div class="info">
						<span class="author"><a href="/profile/{$i.author}">{#replyUserName}</a></span>
						<span class="date">{#replyDate}</span>
					</div>
					
					<div class="body">
					{#replyComment}
					</div>
				</div>
			</div>
		</script>

	</div>
</div>

<link rel="stylesheet" type="text/css" href="/js/wmd/wmd.css"/>
<script src="/js/wmd/wmd.combined.min.js"></script>
<script src="/js/wmd/wmd.js"></script>
#parse("public/footer.html")
<script type="text/javascript" src="/js/template.js"></script>
<script type="text/javascript" src="/js/markAjax.js"></script>
<script type="text/javascript" src="/js/replyAjax.js"></script>