body{
	padding-top: 60px;
	background-color:#DDD;
}

.box{
	background-color:#fff;
	padding:10px;
	margin:0 0 10px 0;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:0 2px 3px rgba(0,0,0,0.15);
	-moz-box-shadow:0 2px 3px rgba(0,0,0,0.15);
	box-shadow:0 2px 3px rgba(0,0,0,0.15)
}

.label{
	text-shadow:0 0 0;
}

.right{
	float:right;
}

.line{
	margin:5px -10px;
	border-bottom:1px solid #DDD;
}

img{
	width:100%;
	height:auto;
	border:none;
}

.pic.s48{
	width:48px;
	height:48px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}

.pic.s64{
	width:64px;
	height:64px;
	float:left;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}

.pic.s130{
	width:130px;
	height:130px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
}

.pic.s145{
	width:145px;
	height:145px;
	-webkit-border-radius:9px;
	-moz-border-radius:9px;
	border-radius:9px;
}

.list tr{
	border-bottom:1px solid #ddd
}

.list tr.odd{
	background:#F9F9F9
}

.list tr.head{
	color:#CCCCCC;
	font-weight:bold;
}

#loading{
	width:100%;
	margin-top:-20px;
	position:fixed;
	text-align:center;
	visibility:hidden;
}

#board .header{
      	color:#CCC;
      	text-align:right;
      	font-size:14px;
      	font-weight:bold;
}

#board .pagination ul{
	background-color:#FFF;
}

/*------------------blog-----------------*/
#blog_item{
	height: 54px;
	margin-bottom:10px;
	overflow:hidden;
	border-bottom: 1px dashed #CCC;
}

/*------------------topic-----------------*/
#content,#content p{
	line-height:21px;
}

#content #header{
	padding-bottom:5px;
	margin-bottom:10px;
	border-bottom:1px solid #CCC;
}

#content #header .title{
	font-size:18px;
	font-weight:bold;
}

#content #header .info{
	color:#999;
}

#replies .title{
	color:#999;
	text-align:right;
}

#reply{
	min-height:48px;
	margin-top:5px;
	padding-top:5px;
	border-top: 1px solid #CCC;
}

#reply .infos{
	padding-left:56px;
}

#reply .infos .info .date{
	color:#999;
	float:right;
}

#reply .infos .body{
	line-height:21px;
}

/*------------------ask-----------------*/
#ask_item{
	min-height:40px;
	margin-bottom:6px;
	border-bottom: 1px dashed #CCC;
}

#ask_item .tips{
	color:#999;
	margin-left:6px;
}

/*------------------setting-----------------*/
#gravatar{
	width:130px;
	text-align:center;
	padding:5px; 0;
}

/*---------------sidebar---------------*/
#sidebar header{
	padding-bottom:6px;
	margin-bottom:10px;
	font-weight:bold;
	border-bottom: 1px solid #DDD;
}

#sidebar .profile{
	height:64px;
}

#sidebar .profile .info{
	margin-left:10px;
	float:left;
}

/*------------------------------------------*/
.notifications{font-weight:bold;}
.notifications a .count{background-color:#666;padding:2px 6px;border-radius:2px;color:#999;-moz-border-radius:2px}
.notifications a:hover .count{background-color:#999;color:white}
.notifications.unread a .count{background-color:#C43C35;color:#999}
.notifications.unread a:hover .count{background-color:#FF0000;color:white}

/*------------------footer-----------------*/
#footer{
	text-align:center;
	color:#CCCCCC;
}

/*------------------other-----------------*/
#field{
	margin-left:15%;
	margin-right:15%;
}

#field .span4{
	margin-bottom:0px;
}

.pointer:hover{
	cursor:pointer;
}

.error{
	color:#FF0000;
	font-size:12px;
	font-weight:bold;
}

.ok{
	color:#009900;
	font-size:12px;
	font-weight:bold;
}

.tip{
	color:#CCC;
	font-size:12px;
	font-weight:bold;
}